<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Foodie Haven</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <!-- Header -->
    <header class="bg-white p-4 flex justify-between items-center shadow">
        <div class="flex items-center">
            <div class="logo-image w-10 h-10 rounded-full overflow-hidden flex items-center justify-center bg-gray-200 shadow-md">
                <img class="w-full h-auto" src=".../images/logo2.png" alt="Logo">
            </div>
            <h1 class="text-lg font-semibold ml-4">Foodie Haven Admin Panel</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container w-1/2 m-auto py-8">
        <h2 class="text-2xl font-bold mb-6">Add New Menu Item</h2>
        <form id="menuItemForm" class="bg-white p-6 rounded-lg shadow-md mb-8">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 font-bold mb-2">Name</label>
                <input type="text" id="name" name="name" placeholder="Item Name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-gray-700 font-bold mb-2">Description</label>
                <textarea id="description" name="description" placeholder="Item Description" class="appearance-none resize-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="mb-4">
                <label for="price" class="block text-gray-700 font-bold mb-2">Price</label>
                <input type="text" id="price" name="price" placeholder="Item Price" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" value="Add Item">
        </form>
    </main>
</body>
</html>
